
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>发布工单</title>
        <link rel="stylesheet" href="../../static/layui/css/layui.css">
    </head>
    <body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">panda测试工单系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        {{ .phone }}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/staff">基本资料</a></dd>
                        <dd><a href="/v1/api/logout">推出系统</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                    <li class="layui-nav-item"><a href="/">所有工单</a></li>
                    <li class="layui-nav-item"><a href="/exec">处理工单</a></li>
                    <li class="layui-nav-item"><a href="/suspensive">工单挂起</a></li>
                    <li class="layui-nav-item {{ .is_pushorder }}"><a href="/pushorder">发布工单</a></li>
                    <li class="layui-nav-item layui-nav-itemed {{ .is_admin }}">
                        <a href="javascript:;">工单审计</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/endorder">完成的工单</a></dd>
                            <dd><a href="/timeout">超时的工单</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed {{ .is_admin }}">
                        <a href="javascript:;">人员授权</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/startp">发单人员</a></dd>
                            <dd><a href="/execp">执行工单</a></dd>
                            <dd><a href="/addp">添加人员</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">

                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                    <legend>发布工单</legend>
                </fieldset>
                <form class="layui-form" action="" method="post"  lay-filter="example">
                    <div class="layui-form-item">
                        <label class="layui-form-label">工单名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="ordername" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工单类型</label>
                        <div class="layui-input-block">
                            <select name="ordertype" lay-filter="aihao">
                                <option value=""></option>
                                {{ range $index,$value := .atypelist }}
                                    <option value={{ $index }}>{{ $value}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">组织</label>
                        <div class="layui-input-block">
                            <select name="orderorg" lay-filter="aihao">
                                <option value=""></option>
                                {{ range $index,$value := .aorglist }}
                                    <option value={{ $index }}>{{ $value}}</option>
                                {{end}}

                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea placeholder="备注信息输入框" class="layui-textarea" name="desc"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="layui-footer" style="height: 160px">
            <!-- 底部固定区域 -->
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>联系人</th>
                    <th>职务</th>
                    <th>联系电话</th>
                    <th>岗位</th>
                </tr>
                </thead>
                <tbody>
                {{ range .dperson  }}
                    <tr>
                        <td>{{ .TDusername }}</td>
                        <td>{{ .TFunction }}</td>
                        <td>{{ .TDphone }}</td>
                        <td>{{ .TType}}</td>
                    </tr>
                {{ end  }}
                </tbody>
            </table>

        </div>
    </div>
    <script src="../../static/layui/layui.js"></script>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;

        });

        //center 区域数据
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;


            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                title: function(value){
                    if(value.length < 5){
                        return '标题至少得5个字符啊';
                    }
                }
                ,content: function(value){
                    layedit.sync(editIndex);
                }
            });

            //监听提交
            // form.on('submit(demo1)', function(data){
            //     layer.alert(JSON.stringify(data.field), {
            //         title: '最终的提交信息'
            //     })
            //     return true;
            // });
            //
            // //表单取值
            // layui.$('#LAY-component-form-getval').on('click', function(){
            //     var data = form.val('example');
            //     alert(JSON.stringify(data));
            // });

        });

    </script>
    </body>
    </html>
